<div class="container">
  <h3 class="d-flex justify-content-center">
    VaultOne
  </h3>
  <h5 class="d-flex justify-content-center">
    Fullstack Software Developer Assessment
  </h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item m-1">
        <a class="btn btn-light btn-outline-primary" (click)="goToEvents()">Eventos</a>
      </li>
      <li class="nav-item m-1" *ngIf="isAuthenticated()">
        <a class="btn btn-light btn-outline-primary" (click)="goToUsers()">Usuarios</a>
      </li>
      <li class="nav-item m-1" *ngIf="!isAuthenticated(); else loggedIn">
        <a class="btn btn-light btn-outline-primary" (click)="goToLogin()">Login</a> 
      </li>
      
      <ng-template #loggedIn>
        <li class="nav-item m-1">
          <a class="btn btn-light btn-outline-primary" (click)="logout()">Logout</a> 
        </li>
      </ng-template>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
